asgiref==3.8.1
certifi==2024.8.30
charset-normalizer==3.4.0
cryptography==43.0.3
Django==5.0.2
django-cors-headers==4.3.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
gunicorn==23.0.0
idna==3.10
oauthlib==3.2.2
psycopg2-binary==2.9.9
PyJWT==2.10.0
python-dotenv==1.0.0
pytz==2024.2
requests==2.32.3
requests-oauthlib==2.0.0
sqlparse==0.5.2
urllib3==2.2.3
pytest==8.0.0
pytest-asyncio==0.23.5
pytest-cov==6.0.0
pytest-django==4.7.0
pytest-factoryboy==2.7.0
pytest-mock==3.14.0
factory_boy==3.3.1
Faker==33.1.0
httpx==0.28.0
pyOpenSSL==24.2.1
typing_extensions==4.12.2
uvicorn==0.32.1
uvloop==0.21.0
Werkzeug==3.1.3
